[Desktop Entry]
Name=MD模拟器
Comment=MD模拟器
Exec=picodrive.elf %f
Icon=picodrive
Categories=emulators;
X-OD-Manual=picodrive.man.txt
#X-OD-Selector=/home/retrofw/roms/megadrive
X-OD-Filter=.zip,.smd,.iso,.cue,.bin,.md,.gen,.sms,.gg,.sg
Terminal=false
StartupNotify=true
